a{
    text-decoration: unset;
    color: rgb(44, 41, 44);
    cursor: pointer;
}

a:hover{
    font-weight: bold;
    color: rgb(44, 41, 44);
}

.colorMorat {
    background-color: #6b3b8c;
}

.h-30{
    height: 30px;
}