* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo{
    width: 100px;
    height: 100px;
}

a{
    text-decoration: unset;
    color: rgb(44, 41, 44);
    cursor: pointer;          
}

.colorMorat {
    background-color: #6b3b8c;
}

.h-30{
    height: 30px;
}

#footer{
    
    bottom: 0;
    margin-bottom: 40px;    
    margin-top: 20px;
    justify-content: center;
    text-align: center;
}

#nav > ul{    
    height: 40px;
    width: 100%;
    align-content: center;
    line-height: 40px;
}

/* Estilos Lista desplegable */

.accordion-item > h2 > button{
    line-height: 30px;
    width: 100%;
    text-align: left;   
    background-color: #815c99;
    border: 1px solid gray;
    border-radius: 3px;
    margin: 0px;
    color: white;
    padding: 5px;
    font-size: 20px;
}

#pleLista ul li{   
    width: 90%;     
    margin-bottom: 5px;
    margin-left: 10px;
}

#pleLista > ul > li:hover {
    background-color: rgb(219, 219, 219);
    color: rgb(44, 41, 44);
    cursor: pointer;  
}