* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo{
    width: 100px;
    height: 100px;
}

a{
    text-decoration: unset;
    color: rgb(44, 41, 44);
    cursor: pointer; 
    width: 100%;         
}

.colorMorat {
    background-color: #6b3b8c;
}

.h-30{
    height: 30px;
}

footer{
    display: block;
    bottom: 0;
    margin-bottom: 40px;    
    margin-top: 20px;
    justify-content: center;
    text-align: center;
}


/* Estilos Lista desplegable */

.accordion-item > h3 > button{
    line-height: 30px;
    background-color: #815c99;
    border: 1px solid gray;
    border-radius: 3px;
    margin: 0px;
    color: white;
    padding: 5px;
}

.pleLista ul li{   
    width: 90%;     
    margin-bottom: 5px;
    margin-left: 10px;    
}

/* Estilos Pag principal */

#texteIni{
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
    margin: 15px;
    margin-top: 5px;
}


nav > ul > li { 
    line-height: 40px;
    width: 450px;
    border-radius: 5px;    
}

nav > ul > li:hover{ 
    opacity: 80%;
}

.avatar {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    object-fit: cover;
    object-position: center;
}